---
layout: dog
---
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="Squeaky Dog">
  <meta name="keywords" content="Dog, Css, JavaScript, HTML">
  <meta name="author" content="Oguzhan Curavcy">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Squeaky Dog | Curavcy</title>
  <link rel="stylesheet" href="css/style.css">

</head>

<body>
  <div class="button-container">
    <h1>Squeeze It!</h1>
    <a class="button" href="#">
      <span class="content"><img class="logo" src="/images/logo.png"></img></span>
      <span class="effect circle-1"></span>
      <span class="effect circle-2"></span>
      <span class="effect circle-3"></span>
    </a>
  </div>
  <script src="js/dog.js"></script>
</body>

</html>
